header {
    background-color:  #201b19;
    color:  #F0F7F4 !important;
}

body {
    background-color: #F0F7F4;
}

h2 {
    background-color: #473c37;
    font-size: 32px;
    color:  #F0F7F4;
    text-align: center;

}

#card-container {
    display: flex;
    flex-direction: column;
}

.book-card {
    background-color: #705d564b;
    margin-top: 10px;
}

i {
    float: right;
}

div {
    color: #32292F;
}